h1{
    font-style: italic;
    text-align: center
    
}
p{
    background-color: rgb(197, 202, 202);

}
body{
    background-color: darkslategray;
}
.container{
    background-color: dimgrey;
}
.footer{
    text-align: center;
    padding-top: 15px;
    background-color: khaki;
}

label{
    background-color: rgb(169, 128, 202);
    font-style: initial;
}
.btn{
    background-color:rosybrown;
}